@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.lato {
  font-family: 'Lato', sans-serif;
}

.merry-weather {
  font-family: 'Merriweather', serif;
}

.eb-garamond {
  font-family: 'EB Garamond', serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.noto {
  font-family: 'Noto Serif', serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.slides {
  padding: 2% 7%;
}
